.contacts img {
  positon: relative;
  height: 170px;
  width: 170px;
  border-radius: 10px;
}

.contacts p {
  position: relative;
  text-align: justify;
  padding-bottom: 15px;
  font-size: 15px;
}
